/**
 * ethanschoonover.com master css file
 * fold in vim to view only the non html5boilerplate components
 *
 * style.css contains a reset, font normalization and some base styles. {{{
 *
 * See html5boilerplate.com for the base css file
 * Credit is left where credit is due.
 * Much inspiration was taken from these projects:
 * - yui.yahooapis.com/2.8.1/build/base/base.css
 * - camendesign.com/design/
 * - praegnanz.de/weblog/htmlcssjs-kickstart
 */
/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }


q:before, q:after {
  content: '';
  content: none; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/**
 * Font normalization inspired by YUI Library's fonts.css: developer.yahoo.com/yui/
 */
body {
  font: 16px/1.231 sans-serif;
  *font-size: small; }

/* Hack retained to preserve specificity */
select, input, textarea, button {
  font: 99% sans-serif; }

/* Normalize monospace sizing:
   en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

/**
 * Minimal base styles.
 */
/* Always force a scrollbar in non-IE */
html {
  overflow-y: scroll; }

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active {
  outline: none; }

ul, ol {
  margin-left: 2em; }

ol {
  list-style-type: decimal; }

/* Remove margins for navigation lists */
nav ul, nav li {
  margin: 0;
  list-style: none;
  list-style-image: none; }

small {
  font-size: 85%; }

strong, th {
  font-weight: bold; }

td {
  vertical-align: top; }

/* Set sub, sup without affecting line-height: gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

pre {
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre;
  //white-space: pre-wrap;
  //word-wrap: break-word;
  overflow-x: auto;
  padding: 15px; }

textarea {
  overflow: auto; }

/* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */
.ie6 legend, .ie7 legend {
  margin-left: -7px; }

/* Align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom; }

.ie7 input[type="checkbox"] {
  vertical-align: baseline; }

.ie6 input {
  vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0; }

/* Colors for form validity */
input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red; }

.no-boxshadow input:invalid, .no-boxshadow textarea:invalid {
  background-color: #f0dddd; }

/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
::-moz-selection {
  background: #FF5E99;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #FF5E99;
  color: #fff;
  text-shadow: none; }

/* j.mp/webkit-tap-highlight-color */
a:link {
  -webkit-tap-highlight-color: #FF5E99; }

/* Make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {
  width: auto;
  overflow: visible; }

/* Bicubic resizing for non-native sized IMG:
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img {
  -ms-interpolation-mode: bicubic; }

/**
 * You might tweak these..
 */
body, select, input, textarea {
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
  color: #444;
  /* Set your base font here, to apply evenly */
  /* font-family: Georgia, serif;  */ }

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

a, a:active, a:visited {
  color: #607890; }

a:hover {
  color: #036; }

/**
 * Primary styles (custom section, non htmlboilerplate)
 * Author: Ethan Schoonover
 */
/*
Font Sizing Hack via
http://html5boilerblate.com and
http://developer.yahoo.com/yui/fonts/
=====================================
target size     Declare this
in pixels (px)  percent (%)
10              77
11              85
12              93 (was 93)
13              100
14              108 (was 107)
15              116 (was 114)
16              123.1 (was 122)
17              131 (was 129)
18              138.5 (was 136)
19              146.5 (was 144)
20              153.9 (was 152)
21              161.6 (was 159)
22              167
23              174
24              182
25              189
26              197
*/
html * {
  font-family: "ff-din-web-pro-1", "ff-din-web-pro-2", sans-serif; }

p {
  font-family: "ff-din-web-pro-1", "ff-din-web-pro-2", sans-serif;
  font-weight: lighter;
  margin: 0 0 20px 0; }

strong {
  font-weight: bold; }

ol, ul {
  margin-bottom: 20px; }

li {
  margin-bottom: 10px; }

dt {
  font-weight: bold; }

dd {
  margin-left: 35px; }

h1, h2, h3, h4, h5, h6 {
  font-family: "ff-din-web-pro-1", "ff-din-web-pro-2", sans-serif;
  font-weight: lighter;
  //text-transform: capitalize;
  margin-top: 40px;
  margin-bottom: 20px; }

h1 {
  //text-transform: uppercase;
  font-weight: bold;
  border-bottom: 1px solid; }

h2 {
  border-bottom: 1px solid; }

h3, h4, h5, h6 {
  border-bottom: none; }

h1#pagetitle, h1:first-of-type {
  font-size: 153.9%;
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 100%;
  border: none;
  text-decoration: none; }

h2#pagesubtitle, h2:first-of-type {
  font-weight: lighter;
  font-size: 153.9%;
  text-transform: none;
  color: #586e75;
  margin-top: 20px;
  margin-bottom: 40px;
  line-height: 100%;
  border: none; }

/*
h1 { font-size: 153.9% }      //26px
h2 { font-size: 153.9% }      //23px
h3 { font-size: 146.5% }    //20px
h4 { font-size: 138.5% }      //18px
h5 { font-size: 138.5% }      //18px
h6 { font-size: 138.5% }      //18px
*/
h1 {
  font-size: 153.9%; }

h2 {
  font-size: 153.9%; }

h3 {
  font-size: 146.5%; }

h4 {
  font-size: 138.5%; }

h5 {
  font-size: 138.5%; }

h6 {
  font-size: 138.5%; }

img {
  margin: 0 0 20px 0; }

header {
  line-height: 190%; }
  header a {
    text-decoration: none;
    margin-right: 10px; }

footer {
  padding-left: 70px;
  line-height: 200%;
  padding-right: 1em; }

#main {
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 40px;
  margin-bottom: 40px;
  min-width: 32em;
  max-width: 52em; }

#sitelink {
  display: block;
  float: left;
  width: 60px;
  padding-left: 10px; }

pre {
  margin-bottom: 20px; }

pre, code {
  font-family: monospace;
  font-size: 15px; }

/*code {
    font-size: 75%;
}*/
table {
  font-size: 75%; }

th {
  padding-bottom: .7em;
  padding-right: 1.8em; }

td {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: .2em;
  padding-right: 1.8em; }

h2#download + h3 {
  font-weight: bold;
  text-decoration: none;
  padding-left: 70px;
  background-repeat: no-repeat;
  background-position: left;
  height: 60px;
  display: block;
  line-height: 60px;
  background-image: url("/img/download-base00.png");
  color: red; }

html *, html.light * {
  color: #657b83; }
html body, html.light body {
  background-color: #fdf6e3; }
html h1, html h2, html h3, html h4, html h5, html h6, html.light h1, html.light h2, html.light h3, html.light h4, html.light h5, html.light h6 {
  color: #586e75;
  border-color: #657b83; }
html h1#pagetitle, html h1:first-of-type, html.light h1#pagetitle, html.light h1:first-of-type {
  color: #586e75; }
html h2#pagesubtitle, html h2:first-of-type, html.light h2#pagesubtitle, html.light h2:first-of-type {
  color: #93a1a1; }
html a, html a:active, html a:visited, html.light a, html.light a:active, html.light a:visited {
  color: #586e75; }
html a:hover, html.light a:hover {
  background-color: #eee8d5; }
html header, html.light header {
  background-color: #93a1a1;
  color: #586e75; }
  html header a.navlink, html header a:active.navlink, html header a:visited.navlink, html.light header a.navlink, html.light header a:active.navlink, html.light header a:visited.navlink {
    color: #586e75; }
  html header a:hover.navlink, html.light header a:hover.navlink {
    background: transparent;
    color: #eee8d5; }
  html header #sitelink, html.light header #sitelink {
    color: #eee8d5;
    background-color: #586e75; }
  html header a:hover#sitelink, html.light header a:hover#sitelink {
    font-weight: bold; }
html footer, html.light footer {
  background-color: #eee8d5;
  color: #93a1a1; }
html pre, html.light pre {
  color: #586e75;
  background-color: #eee8d5; }
html tr:nth-child(odd), html.light tr:nth-child(odd) {
  background-color: #eee8d5; }
html th, html.light th {
  color: #586e75;
  background-color: #fdf6e3; }
html h1 a:hover, html.light h1 a:hover {
  -webkit-text-stroke: 3px #eee8d5; }
html h2#download + h3, html.light h2#download + h3 {
  background-image: url("/img/download-base00.png");
  color: #657b83; }

html.dark * {
  color: #839496; }
html.dark body {
  background-color: #002b36; }
html.dark h1, html.dark h2, html.dark h3, html.dark h4, html.dark h5, html.dark h6 {
  color: #93a1a1;
  border-color: #839496; }
html.dark h1#pagetitle, html.dark h1:first-of-type {
  color: #93a1a1; }
html.dark h2#pagesubtitle, html.dark h2:first-of-type {
  color: #586e75; }
html.dark a, html.dark a:active, html.dark a:visited {
  color: #93a1a1; }
html.dark a:hover {
  background-color: #073642; }
html.dark header {
  background-color: #586e75;
  color: #93a1a1; }
  html.dark header a.navlink, html.dark header a:active.navlink, html.dark header a:visited.navlink {
    color: #93a1a1; }
  html.dark header a:hover.navlink {
    background: transparent;
    color: #073642; }
  html.dark header #sitelink {
    color: #073642;
    background-color: #93a1a1; }
  html.dark header a:hover#sitelink {
    font-weight: bold; }
html.dark footer {
  background-color: #073642;
  color: #586e75; }
html.dark pre {
  color: #93a1a1;
  background-color: #073642; }
html.dark tr:nth-child(odd) {
  background-color: #073642; }
html.dark th {
  color: #93a1a1;
  background-color: #002b36; }
html.dark h1 a:hover {
  -webkit-text-stroke: 3px #073642; }
html.dark h2#download + h3 {
  background-image: url("/img/download-base00.png");
  color: #839496; }

html * {
  color-profile: sRGB;
  rendering-intent: auto; }

html.yellow a#sitelink, .yellow a#sitelink {
  background-color: #b58900; }
html.yellow a, html.yellow a:active, html.yellow a:visited, html.yellow code.url, .yellow a, .yellow a:active, .yellow a:visited, .yellow code.url {
  color: #b58900; }
html.yellow h1, .yellow h1 {
  color: #b58900; }
html.yellow h2, html.yellow h3, html.yellow h4, html.yellow h5, html.yellow h6, .yellow h2, .yellow h3, .yellow h4, .yellow h5, .yellow h6 {
  color: #b58900; }
html.yellow h1#pagetitle, html.yellow h1:first-of-type, .yellow h1#pagetitle, .yellow h1:first-of-type {
  color: #b58900; }
html.yellow h2#download + h3, .yellow h2#download + h3 {
  background-image: url("/img/download-yellow.png");
  color: #b58900; }

html.orange a#sitelink, .orange a#sitelink {
  background-color: #cb4b16; }
html.orange a, html.orange a:active, html.orange a:visited, html.orange code.url, .orange a, .orange a:active, .orange a:visited, .orange code.url {
  color: #cb4b16; }
html.orange h1, .orange h1 {
  color: #cb4b16; }
html.orange h2, html.orange h3, html.orange h4, html.orange h5, html.orange h6, .orange h2, .orange h3, .orange h4, .orange h5, .orange h6 {
  color: #cb4b16; }
html.orange h1#pagetitle, html.orange h1:first-of-type, .orange h1#pagetitle, .orange h1:first-of-type {
  color: #cb4b16; }
html.orange h2#download + h3, .orange h2#download + h3 {
  background-image: url("/img/download-orange.png");
  color: #cb4b16; }

html.red a#sitelink, .red a#sitelink {
  background-color: #dc322f; }
html.red a, html.red a:active, html.red a:visited, html.red code.url, .red a, .red a:active, .red a:visited, .red code.url {
  color: #dc322f; }
html.red h1, .red h1 {
  color: #dc322f; }
html.red h2, html.red h3, html.red h4, html.red h5, html.red h6, .red h2, .red h3, .red h4, .red h5, .red h6 {
  color: #dc322f; }
html.red h1#pagetitle, html.red h1:first-of-type, .red h1#pagetitle, .red h1:first-of-type {
  color: #dc322f; }
html.red h2#download + h3, .red h2#download + h3 {
  background-image: url("/img/download-red.png");
  color: #dc322f; }

html.magenta a#sitelink, .magenta a#sitelink {
  background-color: #d33682; }
html.magenta a, html.magenta a:active, html.magenta a:visited, html.magenta code.url, .magenta a, .magenta a:active, .magenta a:visited, .magenta code.url {
  color: #d33682; }
html.magenta h1, .magenta h1 {
  color: #d33682; }
html.magenta h2, html.magenta h3, html.magenta h4, html.magenta h5, html.magenta h6, .magenta h2, .magenta h3, .magenta h4, .magenta h5, .magenta h6 {
  color: #d33682; }
html.magenta h1#pagetitle, html.magenta h1:first-of-type, .magenta h1#pagetitle, .magenta h1:first-of-type {
  color: #d33682; }
html.magenta h2#download + h3, .magenta h2#download + h3 {
  background-image: url("/img/download-magenta.png");
  color: #d33682; }

html.violet a#sitelink, .violet a#sitelink {
  background-color: #6c71c4; }
html.violet a, html.violet a:active, html.violet a:visited, html.violet code.url, .violet a, .violet a:active, .violet a:visited, .violet code.url {
  color: #6c71c4; }
html.violet h1, .violet h1 {
  color: #6c71c4; }
html.violet h2, html.violet h3, html.violet h4, html.violet h5, html.violet h6, .violet h2, .violet h3, .violet h4, .violet h5, .violet h6 {
  color: #6c71c4; }
html.violet h1#pagetitle, html.violet h1:first-of-type, .violet h1#pagetitle, .violet h1:first-of-type {
  color: #6c71c4; }
html.violet h2#download + h3, .violet h2#download + h3 {
  background-image: url("/img/download-violet.png");
  color: #6c71c4; }

html.blue a#sitelink, .blue a#sitelink {
  background-color: #268bd2; }
html.blue a, html.blue a:active, html.blue a:visited, html.blue code.url, .blue a, .blue a:active, .blue a:visited, .blue code.url {
  color: #268bd2; }
html.blue h1, .blue h1 {
  color: #268bd2; }
html.blue h2, html.blue h3, html.blue h4, html.blue h5, html.blue h6, .blue h2, .blue h3, .blue h4, .blue h5, .blue h6 {
  color: #268bd2; }
html.blue h1#pagetitle, html.blue h1:first-of-type, .blue h1#pagetitle, .blue h1:first-of-type {
  color: #268bd2; }
html.blue h2#download + h3, .blue h2#download + h3 {
  background-image: url("/img/download-blue.png");
  color: #268bd2; }

html.cyan a#sitelink, .cyan a#sitelink {
  background-color: #2aa198; }
html.cyan a, html.cyan a:active, html.cyan a:visited, html.cyan code.url, .cyan a, .cyan a:active, .cyan a:visited, .cyan code.url {
  color: #2aa198; }
html.cyan h1, .cyan h1 {
  color: #2aa198; }
html.cyan h2, html.cyan h3, html.cyan h4, html.cyan h5, html.cyan h6, .cyan h2, .cyan h3, .cyan h4, .cyan h5, .cyan h6 {
  color: #2aa198; }
html.cyan h1#pagetitle, html.cyan h1:first-of-type, .cyan h1#pagetitle, .cyan h1:first-of-type {
  color: #2aa198; }
html.cyan h2#download + h3, .cyan h2#download + h3 {
  background-image: url("/img/download-cyan.png");
  color: #2aa198; }

html.green a#sitelink, .green a#sitelink {
  background-color: #859900; }
html.green a, html.green a:active, html.green a:visited, html.green code.url, .green a, .green a:active, .green a:visited, .green code.url {
  color: #859900; }
html.green h1, .green h1 {
  color: #859900; }
html.green h2, html.green h3, html.green h4, html.green h5, html.green h6, .green h2, .green h3, .green h4, .green h5, .green h6 {
  color: #859900; }
html.green h1#pagetitle, html.green h1:first-of-type, .green h1#pagetitle, .green h1:first-of-type {
  color: #859900; }
html.green h2#download + h3, .green h2#download + h3 {
  background-image: url("/img/download-green.png");
  color: #859900; }

h1 a, h2 a,
h1 a:hover, h2 a:hover {
  text-decoration: none;
  background: none; }

/* highlighting-kate */
/* Based on kate's own default colors for Haskell */
pre.sourceCode, table.sourceCode, table.sourceCode * {
  font-family: monospace;
  font-size: 15px; }

code.sourceCode span {
  font-family: monospace;
  font-size: 15px; }

code.sourceCode span.kw {
  color: #b58900;
  font-weight: bold; }

code.sourceCode span.dt {
  color: #2aa198; }

code.sourceCode span.dv {
  color: #586e75; }

code.sourceCode span.bn {
  color: #cb4b16; }

code.sourceCode span.fl {
  color: #2aa198; }

code.sourceCode span.ch {
  color: #dc322f; }

code.sourceCode span.st {
  color: #d33682; }

code.sourceCode span.co {
  color: #586e75;
  font-style: italic; }

code.sourceCode span.al {
  color: #859900;
  font-weight: bold; }

code.sourceCode span.fu {
  color: #268bd2; }

code.sourceCode span.er {
  color: #dc322f;
  font-weight: bold; }

/**
 * Non-semantic helper classes: please define your styles before this {{{
 */
/* For image replacement */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden {
  display: none;
  visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden; }

/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements.
   j.mp/bestclearfix */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden; }

.clearfix:after {
  clear: both; }

/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix {
  zoom: 1; }

/**
 * Media queries for responsive design.
 *
 * These follow after primary styles so they will successfully override.
 */
@media all and (orientation: portrait) {
  /* Style adjustments for portrait mode goes here */ }
@media all and (orientation: landscape) {
  /* Style adjustments for landscape mode goes here */ }
/* Grade-A Mobile Browsers (Opera Mobile, Mobile Safari, Android Chrome)
   consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {
  /* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you: j.mp/textsizeadjust */
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */ }
/**
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  /* Don't show links for images, or javascript/internal links */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img {
    page-break-inside: avoid; }

  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }

